Rozpiska zbiorcza została stworzona przy pomocy "[b][i]Automatycznego planera ataków[/i][/b]" autorstwa [b]szelbi[/b] (3lbz).


[b]Akcja {{ date }} ({{ weekday }})[/b]

{% for village in target_villages %}
CEL: {{ village.coords }}
{% for timeplan in timeplans %}
{% if village == timeplan.target.village %}
- {{ timeplan.origin.village.coords }} [player]{{ timeplan.origin.player.nickname }}[/player] ({{ (headers|selectattr('header_type', 'eq', timeplan.target.troops_type)|first).name|upper }})
{% endif %}
{% endfor %}

{% endfor %}