Rozpiska została stworzona przy pomocy "[b][i]Automatycznego planera ataków[/i][/b]" autorstwa [b]szelbi[/b] (3lbz).


[b]Akcja {{ date }} ({{ weekday }})[/b]

CELE DLA: [b]{{ player.nickname }}[/b]

[spoiler]
{% for timeplan in timeplans %}
{{ loop.index }}. Wyślij atak ([b][color=#0000ff]{{ (headers|selectattr('header_type', 'eq', timeplan.target.troops_type)|first).name|upper }}[/color][/b]) z {{ timeplan.origin.village.coords }} na {{ timeplan.target.village.coords }}{% if timeplan.end %} od [b]{{ timeplan.start | format_datetime }}[/b] do [b]{{ timeplan.end | format_datetime }}[/b]{% else %} dokładnie o [b]{{ timeplan.start | format_datetime }}[/b]{% endif %}{% if timeplan.origin.village.id and timeplan.target.village.id %} [url=https://{{ world_key }}.plemiona.pl/game.php?village={{ timeplan.origin.village.id }}&screen=place&target={{ timeplan.target.village.id }}]Wykonaj[/url]{% endif %}


{% endfor %}
[/spoiler]